body {
    margin: 0;
    background-image: url("blue_background.jpg");
    background-size: 100% auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 7rem;
}

h2 {
    color: #95AF8C;
}

.col-sm-6.right {
    text-align: right;
    font-size: 2.75rem;
}

.col-sm-6.right:hover {
    font-size:4rem;
    color: #C9D8C5;
}
.col-sm-6.left {
    text-align: left;
    font-size: 2.75rem;
}

.col-sm-6.left:hover {
    font-size:4rem;
    color: #C9D8C5;
}

h4 {
    text-align: center;
    color: #C9D8C5;
    font-size: 2rem;
}

img {
     display: block;
     margin-left: auto;
     margin-right: auto;
}
