<style>
    img {
        width: 200px;
        height: 200px;
        margin-bottom: 60px;
    }

    #bottom {
        background-color: #6699ff;
    }

    #top {
        background-color: #eeccff;
        color: white;
    }

    .sample_picture {
        width: 70px;
        height: 70px;
        background-color: #f2f2f2;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<div class="container-fluid" id="top">
    <img class="row center-block" src="../images/Sample%20Image.jpg">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien vel risus hendrerit viverra.
                Pellentesque sed ante ut neque interdum venenatis. Cras ornare diam urna, vel rutrum mi consectetur vitae.
                Phasellus quis arcu odio. Sed non diam lobortis, accumsan ipsum eget, mattis nulla. Nam placerat, urna at
                mattis molestie, purus urna tincidunt ante, a efficitur libero mauris in enim.</h4>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="container" id="bottom">
    <h2 class="text-center">My Tech Stack</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 sample_picture"></div>
            <div class="col-sm-4 sample_picture"></div>
            <div class="col-sm-4 sample_picture"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 sample_picture"></div>
            <div class="col-sm-4 sample_picture"></div>
            <div class="col-sm-4 sample_picture"></div>
        </div>
    </div>

</div>