
<style>

    #contactPage {
        color: white;
        padding-bottom: 90px;
    }

    img {
        height: 75px;
        width: 75px;
    }

    body {
        background-image: url("../images/buried-1920x1080.png")
    }

    .icon {
        padding: 10px 5px 5px 5px;
    }

    #message {
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
    }

</style>


<div class="container" id="contactPage">
    <h2 id="message">Contact Me!!!</h2>
    <!-- Social media icons needed: Facebook, Linkedin, Github, Mail, Tumblr -->
    <div class="container-fluid">
        <div class="row text-center">

            <!-- Icons for small and larger screens. Text for xs screens. -->
            <span class="col-xs-4 col-sm-4"></span>

            <span class="col-xs-4 col-sm-4">
                <a href="">
                    <img class="icon" src="../images/facebook_icon.png">
                </a>
                <a href="https://www.linkedin.com/in/jamal-paden-46550b101">
                    <img class="icon" src="../images/linkedin_icon.png">
                </a>
                <a href="https://github.com/jpaden12">
                    <img class="icon" src="../images/github_icon.png">
                </a>
                <a href="mailto:jpaden@gatech.edu">
                    <img class="icon" src="../images/mail_icon.png">
                </a>
            </span>

            <span class="col-xs-4 col-sm-4"></span>
        </div>

</div>

</div>