
<style>
    #contactPage {
        background-image: url("../images/buried-1920x1080.png");

    }

</style>

<div id="contactPage">
    <!-- Social media icons needed: Facebook, Linkedin, Github, Mail, Tumblr -->
    <div class="container-fluid">
        <div class="row">
        <img class="col-xs-6 col-md-3" src="../images/facebook_icon.png">
        <img class="col-xs-6 col-md-3" src="../images/linkedin_icon.png">
        <img class="col-xs-6 col-md-3" src="../images/github_icon.png" href="github.com/jpaden12">
        <img class="col-xs-6 col-md-3" src="../images/mail_icon.png" href="mailto:jpaden@gatech.edu">
        </div>
    </div>

</div>