<style>

    #projects {
        background-image: url("../images/buried-1920x1080.png")
    }

    .dummy_picture {
        width: 150px;
        height: 150px;
        margin-top: 40px;
        margin-left: 40px;
        background-color: blue;
    }

    .row.project_list {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .title {
        margin-top: 40px;
        color: white;
    }

    #description {
        color: white;
    }

    #date {
        color: white;
    }

    #link {
        color: white;
        text-align: left;
    }

</style>

<div id="projects">
    <div ng-repeat = "project in projects">
        <project title = "project"></project><br/>
    </div>
</div>